@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: normal;
  src: local("SFProDisplay"), url(fonts/SFPRODISPLAYBOLD.OTF);
}
body {
  padding: 0;
  margin: 0;
}

.header {
  background-image: cover url(img/1.jpg);
  background-color: aqua;
  width: 100%;
  height: 2421px;
}
.header .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 115vw;
}
.header .up .ic {
  display: block;
  position: relative;
  left: -24vh;
  top: 4vh;
}
.header .up .ic img {
  width: 20px;
  height: 20px;
  margin-left: 3vh;
}
.header .up .ml {
  position: relative;
  right: 14vh;
  top: 2vh;
}
.header .up .ml h1 {
  width: 123px;
  height: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header .up .hr {
  position: relative;
  top: 4vh;
  right: 4vh;
}
.header .up .hr hr {
  height: 10px;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  width: 48px;
}
.header .ME {
  position: relative;
  top: 15vh;
  left: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.header .ME h2 {
  position: relative;
  top: 8vh;
  left: 2vh;
  width: 132px;
  height: 48px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 11px;
  line-height: 12.89px;
}
.header .ME p {
  width: 634px;
  height: 252px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  line-height: 84px;
  font-weight: 600;
  color: white;
}
.header .ME a {
  position: relative;
  top: -8vh;
  width: 501px;
  height: 66px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 16.41px;
  color: white;
}
.header .ME button {
  position: relative;
  top: -3vh;
  width: 274px;
  height: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  line-height: 14.06px;
  color: white;
  background-color: #E8594E;
  border-radius: 10px;
  border: none;
}